[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/tonyp7/esp32-wifi-manager
[submodule "components/esp_ws28xx"]
	path = components/esp_ws28xx
	url = https://github.com/okhsunrog/esp_ws28xx.git
